/*Remove all css within the extension's elements*/
div#bGoneSearchBarContainer, div#bGoneSearchBarContainer * {
    all: unset;
    box-sizing: border-box;
    background-color: rgb(22, 32, 45);
}

/*Input fields and buttons containers*/
div#bGoneSearchBarContainer > div.bGoneInputContainer {
    align-items: stretch;
    display: flex;
    padding: 10px;
}

  /*Search bar button and select elements*/
button#bGoneSearchBarButton, select#bGonePriceInputSelector {
    align-content: center !important;
    text-align: center;
    background-image: linear-gradient(rgb(132, 187, 60), rgb(81, 113, 36));
    color: white;
    padding: 8px;
    height: 35px;
    width: 85px;
}

button#bGoneSearchBarButton:hover, select#bGonePriceInputSelector:hover {
    background-image: linear-gradient(hsl(86, 51%, 35%), rgb(63, 89, 28));
}

button#bGoneSearchBarButton:active, select#bGonePriceInputSelector:active {
    background-image: none;
    background-color: rgb(181, 216, 137) !important;
}

button#bGoneSearchBarButton:disabled, select#bGonePriceInputSelector:disabled {
    background-image: linear-gradient(rgb(84, 117, 38), rgb(43, 60, 19));
}
  /*Search bar input fields*/
div#bGoneSearchBarContainer > div.bGoneInputContainer > input.bGoneInputBar {
    background-color: rgb(50, 73, 101);
    color: white;
    flex-grow: 1;
    height: 35px;
}

div#bGoneSearchBarContainer > div.bGoneInputContainer > input.bGoneInputBar:focus {
    background-color: rgba(73, 108, 149, 0.7) !important;
    border: 1px solid white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    transition: 500ms;
}

div#bGoneSearchBarContainer > div.bGoneInputContainer > input.bGoneInputBar#bGoneQuantityInput:focus{
    border: 1px solid white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div#bGoneSearchBarContainer > div.bGoneInputContainer > input.bGoneInputBar:hover:not(:focus) {
    background-color: rgba(73, 108, 149, 0.7) !important;
    transition: 200ms;
}

div#bGoneSearchBarContainer > div.bGoneInputContainer > input.bGoneInputBar:disabled {
    background-color: rgb(37, 54, 75) !important;
}

/*Select all extension elements*/
div#bGoneSelectAllCheckBoxContainer {
    background-color: rgb(22, 32, 45);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

label#bGoneSelectAllContainer {
    background-color: rgb(14, 19, 27);
    border-top-left-radius: 10px;
    padding-top: 10px;
    padding-right: 5px;
}

input[type=checkbox]#bGoneSelectAllCheckbox {
    float: left;
}

button#bGoneRefreshListingsButton {
    background-color: rgb(14, 19, 27);
    border: none;
    border-radius: 50%;
}

label#bGoneSelectAllContainer:hover, button#bGoneRefreshListingsButton:hover {
    background-color: rgb(10, 15, 25);
}

label#bGoneSelectAllContainer:active, button#bGoneRefreshListingsButton:active {
    background-color: rgb(25, 35, 60);
}

button#bGoneRefreshListingsButton > img {
    margin-top: 3px;
}

button#bGoneRemoveCheckedItems {
    background-image: linear-gradient(rgb(132, 187, 60), rgb(81, 113, 36));
    border: none;
    border-top-right-radius: 10px;
    color: white;
    padding-top: 5px;
    height: 100%;
}

button#bGoneRemoveCheckedItems:hover {
    background-image: linear-gradient(rgb(96, 135, 44), rgb(63, 89, 28));
}

button#bGoneRemoveCheckedItems:active {
    background-image: none;
    background-color: rgb(181, 216, 137);
}

button#bGoneRemoveCheckedItems > img {
    float: left;
}

/*Listings' checkboxes*/
div#tabContentsMyActiveMarketListingsRows > div > label.bGoneCheckboxContainer {
    background-color: rgb(14, 19, 27);
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    padding: 5px;
}

div#tabContentsMyActiveMarketListingsRows > div > label.bGoneCheckboxContainer > input[type=checkbox].bGoneCheckbox {
    float: left;
}